@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

div {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    background-color: greenyellow;
    margin-top: 10%;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

.IOContainer {
}

.input, .output {
    text-align: end;
    height: 40px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

/* TABLETS AND SPLIT SCREEN */
@media only screen and (max-width: 1200px) {
    
}

/* PHONES */
@media only screen and (max-width: 600px) {
    
}