@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

div {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:hover {
    transform: scale(1.05);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    margin-top: 80px;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    width: 580px;
    padding: 50px 80px;
    border-style: solid;
    border-radius: 15px;
}

.IOContainer {
    background-color: white;
    padding: 30px 50px;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
}

.input, .output {
    text-align: end;
    font-size: 18px;
    height: 40px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
.input {
    margin-bottom: 20px;
    font-size: 28px;
}

.buttonContainer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 360px;
    margin-top: 40px;
    padding: 10px;
}

.buttonContainer button {
    background-color: white;
    height: 60px;
    width: 100px;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
}

.buttonContainer #clearButton {
    font-size: 16px;
}
.buttonContainer #deleteButton {
    font-size: 16px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

footer a {
    font-size: 24px;
}

#clearButton:hover {
    background-color: #ffb3ba;
}
#deleteButton:hover {
    background-color: 	#ffdfba;
}
#zero:hover {
    background-color: #ffffba;
}
#one:hover {
    background-color: #baffc9;
}
#two:hover {
    background-color: #bae1ff;
}
#three:hover {
    background-color: #dabaff;
}
#four:hover {
    background-color: #ffb3ba;
}
#five:hover {
    background-color: #ffdfba;
}
#six:hover {
    background-color: #ffffba;
}
#seven:hover {
    background-color: #baffc9;
}
#eight:hover {
    background-color: #bae1ff;
}
#nine:hover {
    background-color: #dabaff;
}
#decimal:hover {
    background-color: #ffb3ba;
}
#addButton:hover{
    background-color: #ffdfba;
}
#subtractButton:hover {
    background-color: #ffffba;
}
#multiplyButton:hover {
    background-color: #baffc9;
}
#divideButton:hover {
    background-color: #bae1ff;
}
#equalsButton:hover {
    background-color: #dabaff;
}

/* TABLETS AND SPLIT SCREEN */
@media only screen and (max-width: 1200px) {
    
}

/* PHONES */
@media only screen and (max-width: 600px) {
    
}